
@import 'colors';
$genral-size: 2rem;
$opaque-orange: transparentize($secondary-color, 0.5);

.degrees {
  background-color: $opcional-color;
  color: $primary-color;
  font-size: $genral-size;
  font-weight: bold;
  border-radius: $genral-size;
  border: none;
  padding: 0.3rem 0.8rem;
}

.type {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-title {
  padding: 0.4rem;
}

.temp-container {
  font-size: 1.1rem;
  color: white;
  border-radius: 0.5rem;
  margin: 0.3rem;
  text-align: center;
  width: 10rem;
  padding: 0.5rem;
  font-weight: bold;
  background-color: $opaque-orange;
}
